//===============fonts=================
$fontFamily: "Roboto";
//
//
// @import "_colors";
@import "_null";
@import "_fonts";
@import "_mixins";

//
//
//
//
//
body {
  &._lock {
    overflow: hidden;
    touch-action: none;
  }
}
.__container {
  max-width: 1430px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}
//===========import-files=========================//

@import "_magro";
@import "_header";
@import "_main-magro";
@import "_copyright-magro";
@import "_footer-magro";
@import "_sun-fze-article-magro";
@import "_products-magro";
@import "_about-us";
@import "_contacts";
