<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>MAGRO DMCC</title>
    <link rel="stylesheet" href="/css/style.css" />
  </head>
  <body>
    <div class="magro">
      <header class="magro__header header">
        <div class="header__container __container">
          <a href="#" class="header__logo">
            <img src="./img/logo/logo.png" />
          </a>
          <div class="header__mobile">
            <menu class="header__menu menu-header">
              <ul class="menu-header__list">
                <li class="menu-header__item">
                  <a href="/" class="menu-header__link">
                    Baş Sahypa
                  </a>
                </li>
                <li class="menu-header__item">
                  <a href="/about" class="menu-header__link active"
                    >Biz Barada</a
                  >
                </li>
                <li class="menu-header__item">
                  <a href="/employees" class="menu-header__link">Işgarler</a>
                </li>
                <li class="menu-header__item">
                  <a href="/contact" class="menu-header__link"
                    >Habarlaşmak</a
                  >
                </li>
              </ul>
            </menu>
            <div class="header__lang lang-header">
              <div class="lang-header__menu icon-arrow-down">
                <a href="#" class="lang-header__item active">TM</a>
                <a href="#" class="lang-header__item">RU</a>
                <a href="#" class="lang-header__item">EN</a>
              </div>
            </div>
          </div>
          <div class="header__burger">
            <span></span>
            <span></span>
            <span></span>
          </div>
        </div>
      </header>
      <main class="main__title">
        Türkmenistanyň Merkezi bankynyň maksatlary, esasy borclary we wezipeleri
      </main>
      <div class="main__text">
I «Türkmenistanyň Merkezi banky hakynda» kanuna laýyklykda Türkmenistanyň Merkezi bankynyň maksatlary aşakdakylardan ybaratdyr:
<p> 1) manadyň durnuklylygyny üpjün etmek: </p>
<p> 2) Türkmenistanyň bank ulgamyny ösdürmek we pugtalandyrmak.
<p></p> II Peýda almak Türkmenistanyň Merkezi bankynyň işiniň maksady däldir.
<p></p> III Şu aşakdakylar Türkmenistanyň Merkezi bankynyň esasyborçlarydyr:
<p></p> 1) Türkmenistanyň bank ulgamynyň işlemegi üçin zerur hukuk şertlerini we kepilliklerini döretmek;
<p></p> 2) netijeli ýeke-täk döwlet pul-karz syýasatyny geçirmek;
<p></p> 3) nagt pul dolanyşygyny guramak;
<p></p> 4) hasaplaşyk-töleg ulgamynyň netijeli işlemegini üpjün etmek;
<p></p> 5) bank kadalaşdyrmasyny we bank gözegçilik barlagynyguramak;
<p></p> 6) bahalaryň durnuklylygyny saklamak;
<p></p> 7) karz edaralarynyň kreditorlarynyň we goýumçylarynyňbähbitlerini goramak;
<p></p> 8) Türkmenistanyň kanunçylygyna laýyklykda jenaýatçylyklyýol bilen alnan girdejileriň kanunlaşdyrmagyna we terrorçylygyň maliýeleşdirilmegine garşy hereket etmek;
<p></p> 9) döwletiň ätiýaçlyk altyn goruny goşmak bilen, Türkme-nistanyň halkara ätiýaçlyklarynyň (altyn pul aktiwleriniň) netijeli dolandyrylmagyny üpjün etmek.
<p></p> Şu maksatlardan ugur alyp Berkarar döwletimiziň bagtyýarlykdöwründe Türklmenistanyň Merkezi bankynyň öňünde aşakdaky wezipeler durýar:
<p></p> 1) ýeke-täk döwlet pul-karz syýasatynyň esasy ugurlarynyň taslamasyny işläp taýýarlaýar we ony Türkmenistanyň Merkezi bankynyň Müdiriýetiniň garamagyna berýär;
<p></p> 2) ýeke-täk döwlet pul-karz syýasatyny durmuşa geçirmek bo- ýunça çäreleri amala aşyrýar;
<p></p> 3) Türkmenistanyň kanunçylygyna laýyklykda daşary ykdy sady gatnaşyklarda pul kadalaşdyrmasynyň we pul gözegçiligini özbaşdak we bank ulganynyň üsti bilen guraýar hem-de amala aşyrýar;
<p></p> 4) Türkmenistanyň ykdysadyýetiniň ýagdaýyna seljerme we çaklama geçirilmegine gatnaşýar;
<p></p> 5) milli pula gatnaşykda daşary ýurt pullarynyň resmi hümmetlerini belleýär;
<p></p> 6) pul belgileriniň emissiýasyny we olaryň dolanyşykdan aýrylmagyny amala aşyrýar hem-de Türkmenistanyň Merkezi bankynyň pul belgileriniň ýeke-täk emitenti bolup durýar;
<p></p> 7) Türkmenistanyň çäginde nagt pul dolanyşygyny guraýar;
<p></p> 8) pul belgilerini we beýleki gymmatlyklary hasaba almagyň, daşamagyň we inkassasiýa etmegiň düzgünlerini belleýär; 
<p></p> 9) pul belgileriniň we beýleki gymmatlylaryň döwlet ätiýaçlyk gaznalaryny döredýär;
<p></p> 10) Türkmenistanyň kanunçylygyna laýyklykda karzedaralaryny bellige almagy we ygtyýarlylandyrmagy amala aşyrýar;
<p></p> 11) Türkmenistanda hasaplaşygy geçirmegiň düzgünlerini belleýär we olaryň geçirilişine gözegçiligi amala aşyrýar; 
<p></p> 12) Türkmenistanyň Maliýe ministliginiň hasaplaryna, karz edaralarynyň we beýleki müşderileriniň hasaplaryna hyzmat edýär;
<p></p> 13) döwletiň ätiýaçlyk altyn goruny goşmak bilen, Türkmenistanyň halkara ätiýaçlyklarynyň (altyn pul aktiwleriniň) saklanmagyny we hyzmat edilmegini üpjn edýär;
<p></p> 14) Türkmenistanda kanunçylygyna we maliýe hasabatlylygynyň halkara standartlaryna laýyklykda Türkmenistanda bellige alnan karz edaralarynda buhgalterçilik hasaba alnyş we maliýe hasabatlylyk ulgamynyň kadalaşdyrylmagyny amala aşyrýar;
<p></p> 15) bank hasaplaryny aşmagyň we bank amallaryny geçirmegiň umumy düzgünlerini belleýär;
<p></p> 16) halkara guramalary we daşary ýurt döwletleri bilen, şeýle hem daşary ýurt döwletleriniň fiziki we ýuridik şahslary bilen hasaplaşyklary amala aşyrmagyň tertibini kesgitleýär;
<p></p> 17) karz edaralaryny gaýtadan maliýeleşdirmegi amala aşyrýar we olar üçin soňky basganjakdaky karz beriji bolup durýar;
<p></p> 18) Türkmenistanyň töleg balansynyň düzülmegini guraýar; 
<p></p> 19) bank kadalaşdyrmasyny we bank gözegçilik barlagyny amala aşyrýar;
<p></p> 20) karz edaralary tarapyndan jenaýatçylyk ýol bilen alnan girdejileriň kanunlaşdyrylmagyna we terrorçylygyň maliýeleşdirilmegine garşy çäreleriň geçirilişine gözegçiligi amala aşyrýar;
<p></p> 21) daşary ýurt korrespondent banklaryndan we beýleki karz edaralaryndan şertnamalaýyn şertlerde depozitleri kabul edýär;
<p></p> 22) Türkmenistanyň kanunçylygyna laýyklykda karz edaralary tarapyndan gymmatly kagyzlaryň emissiýasyny bellige alýar;
<p></p> 23) Türkmenistanyň bank ulgamy üçin işgärleri taýýarlamaga gatnaşýar;
<p></p> 24) bank amallarynyň we geleşikleriň ähli görnüşlerini amala aşyrýar;
<p></p> 25) Türkmenistanyň kanunçylygyna laýyklykda öz ygtyýaryna Türkmenistanyň Merkezi banky Türkmenistanyň Ministrler Kabinetiniň bankiri, geňeşçisi we fiskal agenti bolup durýar.
<p></p> Özüniň düýp we gönükdirilen maksadyna laýyklykda Merkezi bankyň wezipeleri, esasan, üç ugur boýunça kesgitlenilýär: 
<p></p> 1) tutuşlygyna alanyňda ykdysadyýet;
<p></p> 2) hökümete gatnaşygy boýunça;
<p></p> 3) banklar we bank ulgamy.
<p></p> Tutuş ykdysadyýete degişli meseleler öňi bilen, ykdysady dola- nyşygy zähmet önümlerini çalyşmagy amala aşyrmak üçin ýeterlik bolan zerur pul serişdeleri bilen üpjün edilişine baglydyr. Merkezi bankyň işi nagt pullary çykarmakda agalyk ediji (monopol) hukuga eýe bolmak, ýurduň altyn pul ätiýaçlyklaryny saklamak we hasaba almak bilen, diňe bir önümi öndürmek we onuň dolanyşygy üçin ýeterlik bolman, eýsem içerki we daşarky pul dolanyşygynda milli pul birliginiň durnuklylygyny üpjün etmek üçin ýeterlik bolan töleg serişdelerini emitirlemekden ybaratdyr. Merkezi bankyň şunuň ýaly bir bitewi iki wezipesi baş wezipe bolup durýar. Ol onuň ýurduň emissiýa instituty hökmündäki ähli işini kesgitleýär.
<p></p> Döwlet gurluşynyň bir bölegi bolmak, hökümet bilen bilelikde ykdysadyýeti ösdürmegi üpjün etmek arkaly Merkezi bank oňa, özüniň düýp manysynyň çäklerinde, ykdysady maksatnamalary dur- muşa geçirmekde zerur kömegi berýär. Zerur bolan halatynda toplan- malarda möwsümleýin bolýan ýetmezçilikleriň üstüni ýapýar, döwle- tiň gymmatly kagyzlaryny ýerleşdirýär. Bu işleri ýerine ýetirende bank özüniň ýokarda bellenen esasy wezipesine zyýan ýetirmeli däldir.
<p></p> Banklara gatnaşygy boýunça Merkezi bank «Banklaryň ban- kydyr». Onuň wezipesi zerur bolan halatynda iň soňky karz beriji bolmakdan, olaryň likwidliligini goldamakdan ybaratdyr. Özüniň gözegçilik edarasynyň ygtyýarlyklary bolan ýerinde onuň wezipesi karz edaralarynyň netijeli işini üpjün etmek bilen baglydyr. Täjir- çilik banklaryna bank bazarynda işlemäge rugsat etmek tertibini bellemek, olaryň işiniň anyk ugurlary boýunça ykdysady ölçeg- leri (normatiwleri), amallary geçirmegiň kadalaryny we stan- dartlaryny kesgitlemek bilen, merkezi bank olaryň işiniň hiline jogap berýär.
<p></p> Iş ýüzünde köp ýurtlaryň kanunçylygynda Merkezi bankyň maksatlary we wezipeleri ýeterlik derejede takyk bellenendir. Diňe käbir ýurtlaryň (mysal üçin, ABŞ-nyň, Şwesiýanyň we Italiýanyň) kanunçylygynda olar diňe umumy häsiýetde görkezilendir (ABŞ- -da hümmetsizlenme bilen göreş ileri tutulýan wezipe bolup durýar), beýleki ýurtlarda olar has giňişleýin beýan edilendir.
<p></p> Aýry-aýry günbatar ýurtlarynyň kanunçylygynda milli pul bir- ligini berkitmek babatynda baş wezipe bilen bir hatarda ýörite durmuş- -ykdysady wezipe, ýagny önümçiligiň ösüşini höweslendirmek ar- kaly işsizligi peseltmek wezipesi hem görkezilýär. Merkezi bankyň şunuň bilen baglanyşykly işiniň ugurlary bank ulgamynyň bähbitleri bilen çäklenmän, olar bazary haryt bilen doldurmaga, önümçiligi ös- dürmäge hem gönükdirilýär. </p>
      </div>
      <footer class="magro__footer footer-magro">
        <div class="footer-magro__container __container">
          <div class="footer-magro__top">
            <a href="#" class="footer-magro__logo">
              <img src="./img/logo/logo.png" />
            </a>
            <menu class="footer-magro__menu">
              <ul class="footer-magro__list">
                <div class="footer-magro__social">
                  <div class="footer-magro__social-item">
                    <div class="footer-magro__social-icon">
                      <img src="./img/icons/social/location.svg" />
                    </div>
                    <p class="footer-magro__social-text">
                      Aşgabat şäheri A. Nyýazow köçesi jaý 424
                    </p>
                  </div>
                  <div class="footer-magro__social-item">
                    <div class="footer-magro__social-icon">
                      <img src="./img/icons/social/call.svg" />
                    </div>
                    <p class="footer-magro__social-text">+993 (12) 44-33-19</p>
                  </div>
                  <div class="footer-magro__social-item">
                    <div class="footer-magro__social-icon">
                      <img src="./img/icons/social/mail.svg" />
                    </div>
                    <p class="footer-magro__social-text">info@magrodmcc.tm</p>
                  </div>
                </div>
              </ul>
            </menu>
          </div>
        </div>
      </footer>
      <div class="magro__copyright copyright-magro">
        <div class="copyright-magro__container __container">
          <p class="copyright-magro__text">
            Copyright 2010 © sunfze.com All right reserved Web Development
            Company
          </p>
        </div>
      </div>
    </div>
    <script src="/js/script.js"></script>
  </body>
</html>
