<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>MAGRO DMCC</title>
    <link rel="stylesheet" href="./css/style.css" />
  </head>
  <body>
    <div class="magro">
      <header class="magro__header header">
        <div class="header__container __container">
          <a href="#" class="header__logo">
            <img src="./img/logo/logo.png" />
          </a>
          <div class="header__mobile">
            <menu class="header__menu menu-header">
              <ul class="menu-header__list">
                <li class="menu-header__item">
                  <a href="/" class="menu-header__link">Baş Sahypa</a>
                </li>
                <li class="menu-header__item">
                  <a href="/about" class="menu-header__link">Biz Barada</a>
                </li>
                <li class="menu-header__item">
                  <a href="/employees" class="menu-header__link">Işgarler</a>
                </li>
                <li class="menu-header__item">
                  <a href="/contact" class="menu-header__link active"
                    >Habarlaşmak</a
                  >
                </li>
              </ul>
            </menu>
            <div class="header__lang lang-header">
              <div class="lang-header__menu icon-arrow-down">
                <a href="#" class="lang-header__item active">TM</a>
                <a href="#" class="lang-header__item">RU</a>
                <a href="#" class="lang-header__item">EN</a>
              </div>
            </div>
          </div>
          <div class="header__burger">
            <span></span>
            <span></span>
            <span></span>
          </div>
        </div>
      </header>
    
      <section class="magro__contacts contacts">
        <div class="contacts__container __container">
          <h1 class="contacts__titler">Habarlaşmak</h1>
          <div class="contacts__body">
            <div class="contacts__map">
              <img src="/img/2560px-Turkmenistan,_administrative_divisions_-_de_-_colored.svg.png" />
            </div>
            <div class="contacts__form-box">
              <div class="contacts__row">
                <div class="contacts__input-box">
                  <label class="contacts__label" for="name">Ady familýas*</label>
                  <input class="contacts__input" id="name" type="text" />
                </div>
                <div class="contacts__input-box">
                  <label class="contacts__label" for="number">Nomer*</label>
                  <input class="contacts__input" id="number" type="number" />
                </div>
              </div>
              <div class="contacts__input-box--mail">
                <label class="contacts__label" for="email">Elektron poçtasy*</label>
                <input class="contacts__input" id="email" type="email" />
              </div>
              <div class="contacts__textarea-box">
                <label class="contacts__label" for="message">Habar*</label>
                <textarea id="message"></textarea>
              </div>
              <div class="contacts__button-box">
                <button class="contacts__button" id="send">Ugratmak</button>
              </div>
            </div>
          </div>
        </div>
      </section>
      <footer class="magro__footer footer-magro">
        <div class="footer-magro__container __container">
          <div class="footer-magro__top">
            <a href="#" class="footer-magro__logo">
              <img src="./img/logo/logo.png" />
            </a>
            <menu class="footer-magro__menu">
              <ul class="footer-magro__list">
                <div class="footer-magro__social">
                  <div class="footer-magro__social-item">
                    <div class="footer-magro__social-icon">
                      <img src="./img/icons/social/location.svg" />
                    </div>
                    <p class="footer-magro__social-text">
                      Aşgabat şäheri A. Nyýazow köçesi jaý 424
                    </p>
                  </div>
                  <div class="footer-magro__social-item">
                    <div class="footer-magro__social-icon">
                      <img src="./img/icons/social/call.svg" />
                    </div>
                    <p class="footer-magro__social-text">+993 (12) 44-33-19</p>
                  </div>
                  <div class="footer-magro__social-item">
                    <div class="footer-magro__social-icon">
                      <img src="./img/icons/social/mail.svg" />
                    </div>
                    <p class="footer-magro__social-text">info@magrodmcc.tm</p>
                  </div>
                </div>
              </ul>
            </menu>
          </div>
        </div>
      </footer>
      <div class="magro__copyright copyright-magro">
        <div class="copyright-magro__container __container">
          <p class="copyright-magro__text">
            Copyright 2010 © sunfze.com All right reserved Web Development
            Company
          </p>
        </div>
      </div>
    </div>
    <script src="./js/script.js"></script>
  </body>
</html>
