<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>MAGRO DMCC</title>
    <link rel="stylesheet" href="./css/style.css" />
  </head>
  <body>
    <div class="magro">
      <header class="magro__header header">
        <div class="header__container __container">
          <a href="#" class="header__logo"> 
            <img src="./img/logo/logo.png" />
          </a>
          <div class="header__mobile">
            <menu class="header__menu menu-header">
              <ul class="menu-header__list">
                <li class="menu-header__item">
                  <a href="/" class="menu-header__link active">Baş Sahypa</a>
                </li>
                <li class="menu-header__item">
                  <a href="/about" class="menu-header__link">Biz Barada</a>
                </li>
                <li class="menu-header__item">
                  <a href="/employees" class="menu-header__link">Işgarler</a>
                </li>
                <li class="menu-header__item">
                  <a href="/contact" class="menu-header__link"
                    >Habarlaşmak </a
                  >
                </li>
              </ul>
            </menu>
            <div class="header__lang lang-header">
              <div class="lang-header__menu icon-arrow-down">
                <a href="#" class="lang-header__item active">TM</a>
                <a href="#" class="lang-header__item">RU</a>
                <a href="#" class="lang-header__item">EN</a>
              </div>
            </div>
          </div>
          <div class="header__burger">
            <span></span>
            <span></span>
            <span></span>
          </div>
        </div>
      </header>
      <section class="magro__main main-magro">
        <div class="main-magro__wrapper">
          <div class="main-magro__img">
            <img src="./img/main/pexels-francis-desjardins-3314113.jpg" />
          </div>
          <div class="main-magro__container __container">
            <h1 class="main-magro__title">
              Türkmenistanyň Merkezi <p></p> bankynyň Ahal welaýat şahamçasy.
            </h1>
          </div>
        </div>
        <marquee
          class="main-magro__subtitle"
          onmouseover="this.stop();"
          onmouseleave="this.start();"
        >
          Hemme zat narmalny 22
        </marquee>
      </section>
      <section class="magro__article-sun-fze sun-fze-article-magro">
        <div class="sun-fze-article-magro__container __container">
          <h1 class="sun-fze-article-magro__title"> Merkezi bank </h1>
          <div class="sun-fze-article-magro__body">
            <div class="sun-fze-article-magro__img">
              <img src="./img/main/pexels-yurii-hlei-1398431 (1).jpg" />
            </div>
            <div class="sun-fze-article-magro__text-block">
              <p class="sun-fze-article-magro__text">
                “Türkmenistanyň Merkezi banky hakyndaky” Kanuna laýyklykda bank ulgamynda birnji derejeli bank bolup Türkmenistanyň Merkezi banky çykyş edýär. Türkmenistanyň Merkezi banky ýurduň bank ulgamynyň işleriniň esasy kadalaşdyryjysy bolup durýar. Şonuň üçin onuň esasy maksatlary manadyň durnuklygyny üpjün etmäge, pul-karz ulgamyny pugtalandyrmaga gönükdirilendir. Türkmenistanyň Merkezi bankynyň ýöredýän pul-karz syýasatynyň netijesinde ýurdumyzda uzak döwürleriň dowamynda maliýe taýdan durnuklylyk gazanylýar.  
            </div>
          </div>
        </div>
      </section>
     
      <footer class="magro__footer footer-magro">
        <div class="footer-magro__container __container">
          <div class="footer-magro__top">
            <a href="#" class="footer-magro__logo">
              <img src="./img/logo/logo.png" />
            </a>
            <menu class="footer-magro__menu">
              <ul class="footer-magro__list">
                <div class="footer-magro__social">
                  <div class="footer-magro__social-item">
                    <div class="footer-magro__social-icon">
                      <img src="./img/icons/social/location.svg" />
                    </div>
                    <p class="footer-magro__social-text">
                      Aşgabat şäheri A. Nyýazow köçesi jaý 424
                    </p>
                  </div>
                  <div class="footer-magro__social-item">
                    <div class="footer-magro__social-icon">
                      <img src="./img/icons/social/call.svg" />
                    </div>
                    <p class="footer-magro__social-text">+993 (12) 44-33-19</p>
                  </div>
                  <div class="footer-magro__social-item">
                    <div class="footer-magro__social-icon">
                      <img src="./img/icons/social/mail.svg" />
                    </div>
                    <p class="footer-magro__social-text">info@magrodmcc.tm</p>
                  </div>
                </div>
              </ul>
            </menu>
          </div>
        </div>
      </footer>
      <div class="magro__copyright copyright-magro">
        <div class="copyright-magro__container __container">
          <p class="copyright-magro__text">
            Copyright 2010 © sunfze.com <br />
            All right reserved Web Development Company
          </p>
        </div>
      </div>
    </div>
    <script src="./js/script.js"></script>
  </body>
</html>
